MAHPGetClinic.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/MMHP%20Account%20Data"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/MMHP%20Account%20Data"
></xsd:import
><xsd:element
 name="GetClinic_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfMmhpAccountData"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="GetClinic_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 ref="xsdLocal1:ListOfMmhpAccountData"
></xsd:element
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/MMHP%20Account%20Data"
 targetNamespace="http://www.siebel.com/xml/MMHP%20Account%20Data"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfMmhpAccountData"
 type="xsdLocal1:ListOfMmhpAccountData"
></xsd:element
><xsd:complexType
 name="ListOfMmhpAccountDataTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfMmhpAccountData"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfMmhpAccountData"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfMmhpAccountData"
><xsd:sequence
><xsd:element
 name="Account"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Account"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Account"
><xsd:sequence
><xsd:element
 name="AccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="URL"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MAHPAccountProfile"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MAHPAccountTier"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FaxNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MarketPotential"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryAddressId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfAccountMembership"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfAccountMembership"
></xsd:element
><xsd:element
 name="ListOfContact"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfContact"
></xsd:element
><xsd:element
 name="ListOfAssetMgmtAsset"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfAssetMgmtAsset"
></xsd:element
><xsd:element
 name="ListOfAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfAddress"
></xsd:element
><xsd:element
 name="ListOfAccountServices"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfAccountServices"
></xsd:element
><xsd:element
 name="ListOfBestCallTime"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfBestCallTime"
></xsd:element
></xsd:sequence
><xsd:attribute
 name="Searchspec"
 type="xsd:string"
></xsd:attribute
></xsd:complexType
><xsd:complexType
 name="ListOfAccountMembership"
><xsd:sequence
><xsd:element
 name="AccountMembership"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:AccountMembership"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AccountMembership"
><xsd:sequence
><xsd:element
 name="MembershipId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MemberNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MembershipName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MembershipType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfContact"
><xsd:sequence
><xsd:element
 name="Contact"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Contact"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Contact"
><xsd:sequence
><xsd:element
 name="ContactId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FirstName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LastName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 default="Staff"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfAssetMgmtAsset"
><xsd:sequence
><xsd:element
 name="AssetMgmt-Asset"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:AssetMgmt-Asset"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AssetMgmt-Asset"
><xsd:sequence
><xsd:element
 name="AssetId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfAddress"
><xsd:sequence
><xsd:element
 name="Address"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Address"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Address"
><xsd:sequence
><xsd:element
 name="AddressId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Country"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ZipCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryAddressFlg"
 default="Y"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="State"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Address1"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Address2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfAccountServices"
><xsd:sequence
><xsd:element
 name="AccountServices"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:AccountServices"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="AccountServices"
><xsd:sequence
><xsd:element
 name="ServicesId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name2"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfBestCallTime"
><xsd:sequence
><xsd:element
 name="BestCallTime"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:BestCallTime"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="BestCallTime"
><xsd:sequence
><xsd:element
 name="CallTimeId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Comments"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EndDay"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EndTime"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Day"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StartTime"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="GetClinic_Input"
><part
 name="GetClinic_Input"
 element="tns:GetClinic_Input"
></part
></message
><message
 name="GetClinic_Output"
><part
 name="GetClinic_Output"
 element="tns:GetClinic_Output"
></part
></message
><portType
 name="GetClinic"
><operation
 name="GetClinic"
><input
 message="tns:GetClinic_Input"
></input
><output
 message="tns:GetClinic_Output"
></output
></operation
></portType
><binding
 name="GetClinic"
 type="tns:GetClinic"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="GetClinic"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:GetClinic"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="MAHPGetClinic"
><port
 binding="tns:GetClinic"
 name="GetClinic"
><soap:address
 location="http://yavssbldevweb1.medimedia.com/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=sadmin&amp;Password=Summer10"
></soap:address
></port
></service
></definitions
>